body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 5rem;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: grey;

}
.toolbox-priority-cont{
    margin-left: 5rem;
    width: 35%;
    height: 80%;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.red{
    width: 20%;
    height: 80%;
    background-color: red;
}
.blue{
    width: 20%;
    height: 80%;
    background-color: blue;
}
.green{
    width: 20%;
    height: 80%;
    background-color: green;
}
.purple{
    width: 20%;
    height: 80%;
    background-color: purple;
}
.action-btn-cont{
    margin: 2rem;
    width: 15%;
    height: 80%;
    /* border: 1px solid rgb(47, 29, 206); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-btn{
    width: 50%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-btn{
    width: 50%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.largeicon{
    font-size: 1.8rem;
}

.modal-cont{
    width: 40rem;
    height: 25rem;
    /* border: 1px solid red; */
    position: fixed;
    top: 25vh;
    left: 25vw;
    display: flex;
    display: none;
}
.textarea-cont{
    width: 75%;
    height: 100%;
    padding: 1rem;
}
.priority-color-cont{
    height: 100%;
    width: 25%;
    border: 1px solid rgb(241, 8, 222);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: pink;
    align-items: center;
}
.color_modal{
    width: 70%;
    height: 15%;
}
.selected {
    border: 4px solid yellow;
}